<section class="splash_container">
  <h1 class="splash_header">Budget App</h1>
  <div class="login">
    <button class="login_btn"><%=  link_to "LOG IN", new_user_session_path, class: "login_link" %></button>
  </div>

  <div class="signup">
    <button class="signup_btn"><%= link_to "SIGN UP", new_user_registration_path, class: "signup_link" %></button>
  </div>
</section>